go 1.19

use (
    ./
    ./database
    ./database/migrations
    ./database/seeds
    ./helpers
    ./routes
    ./src/middlewares
    ./src/auth/controller
    ./src/auth/service
    ./src/auth/dto
    ./src/rt/controller
    ./src/rt/service
    ./src/rt/dto
    ./src/rw/controller
    ./src/rw/service
    ./src/rw/dto
    ./src/domisili/controller
    ./src/domisili/service
    ./src/domisili/dto
    ./src/penduduk/controller
    ./src/penduduk/service
    ./src/penduduk/dto
)